<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HOMEPAGE</title>
    <!--Bootstrap core CSS-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!--Custom Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="img/wer.png" rel="icon" type="img/ico">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/css/custom.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="/css/contact-input-style.css">
    <link rel="stylesheet" type='text/css' href="/css/hover-effect.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
  </head>
<!-- NAVBAR
================================================== -->
  <body>



<nav class="navbar navbar-default top-bar affix" data-spy="affix" data-offset-top="250" >
    <div class="container" >
        <!- Brand and toggle get grouped for better mobile display ->
        <div class="navbar-header page-scroll">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Problem Handler.com</a>
        </div>
        <!- Collect the nav links, forms, and other content for toggling ->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#team">Team</a></li>

                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <!- /.navbar-collapse ->
    </div>
    <!- /.container-fluid ->
</nav>

<section class="banner-sec" id="home">
<div class="container">
<div class="jumbotron">
<h1 style="font-size:53px;">We should not give up and we should not allow the problem to defeat us.</h1>


</div>
</div>
</section>

<section class="four-col-services" id="services">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Our Services</h2>
      <h4 class="text-center">Problem Handler.com is a question-and-answer website where questions are asked, answered, edited, and organized by its community of users in the form of opinions. </h4>


      <div class="col-lg-4 col-md-4 col-sm-6 text-center service-block up-effect"><i class="fa fa-bar-chart" aria-hidden="true"></i><h3>Our mission is to share and grow the world's knowledge.</h3><p>The platform offers a place to ask questions and connect with people who contribute unique insights and quality answers. This empowers people to learn from each other and to better understand the world.</p></div>

      <div class="col-lg-4 col-md-4 col-sm-6 text-center service-block down-effect"><i class="fa fa-bookmark-o" aria-hidden="true"></i><h3>You are responsible for the content that you post.</h3><p>This includes ensuring that you have the rights needed for you to post that content and that your content does not violate the legal rights of another party (for example, defamation) or any applicable laws.</p></div>

      <div class="col-lg-4 col-md-4 col-sm-6 text-center service-block up-effect"><i class="fa fa-bug" aria-hidden="true"></i><h3>We do not endorse or verify content posted by users.</h3><p>Content and materials are provided to you without any guarantees.Posts from lawyers,doctors,and other professionals should not be treated as a substitute for professional advice for your specific situation.</p></div><br>

      <div class="col-lg-4 col-md-4 col-sm-6 text-center service-block down-effect"><i class="fa fa-calendar-o" aria-hidden="true"></i><h3>Free to ask and post answer</h3><p>There is no charges taken for posting your answer or asking a question from pepole.For asking/answering a question you need to create you account and after login you can answer.</p></div>

      <div class="col-lg-4 col-md-4 col-sm-6 text-center service-block up-effect"><i class="fa fa-code" aria-hidden="true"></i><h3>Free to answer how you think..</h3><p>You are free to answer the question how you think a problem can be solved..</p></div>

      <div class="col-lg-4 col-md-4 col-sm-6 text-center service-block down-effect"><i class="fa fa-floppy-o" aria-hidden="true"></i><h3>Heading</h3><p>Your answers and questions are really valuable for us.You can post as many questions as well as many answers on our site Problem Handler.com</p></div>



    </div>
  </div>
</section>



<section class="about-sec" id="about">
<div class="container">
<div class="row">
<div class="col-md-7 col-sm-12 main-text"><h2>About Us</h2><p class="lead">Problem Handler.com is created by Satyam Jha, Aditya Katiyar and Sunny Kumar using the features of bootstrap,css,html,jquery,nodejs</p> 

 <p>Problem Handler.com is a website where firstly user have to create there account then they can ask or post as many questions they want.</p><p>Problem Handler.com mission is to share and grow the world's knowledge.Our aim is  to allow  anyone to easily share their knowledge and in the process to  dramatically increase the total amount of knowledge available to the  world. As we grow, we will be able to provide larger and larger  audiences to writers, cover more and more topics, and have greater and  greater impact on the world.
</p>
</div>
<div class="col-md-5 col-sm-12 points">
<div class="row">
<div class="col-sm-6 col-xs-6 point-content text-center"><img src="img/icon-about-01.png"><p>User's can connect with anyone through eamil id's</p></div>
<div class="col-sm-6 col-xs-6 point-content text-center"><img src="img/icon-about-02.png"><p>Many users can discuss on same topic </p></div>
<div class="col-sm-6  col-xs-6 point-content text-center"><img src="img/icon-about-03.png"><p>Anyone can interact with anyone through asking questions or answer.</p></div>
<div class="col-sm-6 col-xs-6 point-content text-center"><img src="img/icon-about-04.png"><p>Same question can be answer by multiple users</p></div>
</div>
</div>

</div>
</div>
</section>

<section class="feature-section" id="features">
<div class="container">
<h2 class="text-center">Features</h2>
<p class="text-center sub-text">Problem can only be defeated through there solutions.</p>
<div class="row">
<div class="col-md-6 img-sec left-effect"><img class="img-responsive" src="img/info-bg-01.jpg"></div>
<div class="col-md-6 right-effect"><div class="content-box"><h3>The knack for books.</h3><p>Most answers of your question is present here.It's a knack of books.</p>
</div></div>
</div>

<div class="row">
<div class="col-md-6 col-md-push-6 img-sec left-effect"><img class="img-responsive" src="img/info-bg-03.jpg"></div>
<div class="col-md-6 col-md-pull-6 right-effect"><div class="content-box"><h3>Learning comes from experience.</h3><p>Others experience can help you to remove your doubt on a particular question.</p>
</div></div>
</div>

<div class="row">
<div class="col-md-6 img-sec left-effect"><img class="img-responsive" src="img/info-bg-02.jpg"></div>
<div class="col-md-6 right-effect"><div class="content-box"><h3>Knowledge is power.</h3><p>As much knowledge you will gain. You will become more powerful.So, start learning from here only.</p>
</div></div>
</div>
</div>
</section>

<section class="team-sec" id="team">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Our Team</h2>
      <div class="col-lg-4 col-md-6 col-sm-6 text-center member-block"> <img class="up-effect" src="img/katti.jpg">
        <h3 class="up-effect">Aditya Katiyar</h3>
        <div class="contact-con down-effect"><i class="fa fa-phone fa-2x"></i><i class="fa fa-instagram" aria-hidden="true"></i><a href="https://www.facebook.com/aditya.katiyar.56"><i class="fa fa-facebook" aria-hidden="true"></a></i></div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 text-center member-block"> <img class="up-effect" src="img/Satyam.jpg">
        <h3 class="up-effect">Satyam Jha</h3>
        <div class="contact-con down-effect"><i class="fa fa-phone fa-2x"></i><i class="fa fa-instagram" aria-hidden="true"></i><a href="https://www.facebook.com/profile.php?id=100015157268583"><i class="fa fa-facebook" aria-hidden="true"></a></i></div>
              </div>
      <div class="col-lg-4 col-md-6 col-sm-6 text-center member-block"> <img class="up-effect" src="img/sunviru.jpg">
        <h3 class="up-effect">Sunny kumar</h3>
                <div class="contact-con down-effect"><i class="fa fa-phone fa-2x"></i><i class="fa fa-instagram" aria-hidden="true"></i><a href =" https://www.facebook.com/sunny.virat.90"><i class="fa fa-facebook" aria-hidden="true"></a></i></div>

      </div>
    </div>
  </div>
</section>

<div class="f-small-block">
<div class="container">
<div class="row small-inner text-center">
<h3>Problem Handler.com</h3><br>
<p>Login to access all questions on Problem handler.com</p>
<p class="text-center">Guidance by <i class="fa fa-love"></i><a href="https://www.iiitl.ac.in/faculty/SG">Dr. Shikha Gautam</a>

</div>
</div>
</div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/oppear_1.1.2.min.js"></script>
    <script>

	$(window).scroll(function () {
		var sticky = $('.navbar-brand'),
		    scroll = $(window).scrollTop();

			if (scroll >= 250) sticky.addClass('dark');
			else sticky.removeClass('dark');

	});

	$('.service-box').Oppear({
		delay : 500,
		});
	$('.main-text').Oppear({
		direction:'right',
	});
	$('.points').Oppear({
		direction:'left',
	});
	$('.up-effect').Oppear({
		direction:'up',
	});
	$('.down-effect').Oppear({
		direction:'down',
	});
	$('.left-effect').Oppear({
		direction:'right',
	});
	$('.right-effect').Oppear({
		direction:'left',
	});



    </script>
    <script>
	$('a[href^="#"]').on('click', function(event) {

    var target = $( $(this).attr('href') );

    if( target.length ) {
        event.preventDefault();
        $('html, body').animate({
            scrollTop: target.offset().top
        }, 1000);
    }

});

    </script>
  </body>
</html>
